<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <a href="/home">
        <img class="logo" id="logo" src="/logo.png" alt="logo" />
      </a>
      <div class="nav-links">
        <a href="/home">
          Home
        </a>
        <a href="/posts">
          Posts
        </a>
        <a href="/create">
          Create
        </a>
        <a href="/saved">
          Saved
        </a>
        <a href="/login">Login</a>
      </div>
    </header>

    {{{body}}}

  </body>

</html>