<div id="post-wrapper">
    <img class="site-img" src="/background-img.jpg" alt="Background IMG" />
    <div id="sits">
      <div class="post-text">
        <h2>
          Create Post
        </h2>
      </div>
      <div class="create-form">
        <form action="/create" enctype="multipart/form-data" method="post">
            <input type="file" id="myFile" name="post_content">
            <input type="text" name="post_title" placeholder="Titel">
            <textarea name="post_description" placeholder="Beschreibung" id="description" rows="5"></textarea>
            <input type="text" name="maps_link" placeholder="Google Maps Link">
            <input type="submit" name="Create" id="create-post-btn" value="Create">
          </form>
    </div>
  </div>