<div id="landing-wrapper">
  <img class="landing-img" src="background-img.jpg" alt="Background IMG" />
  <div id="start">
    <div class="home-text">
      <h2>
        Willkommen in der Community
      </h2>
      <p>
        Du bist nun ein Teil der Community. Bitte verhalte dich angemessen und
        behandle andere Nutzer mit Respekt. Wir freuen uns, dass du dich bei uns
        registriert hast und wünschen dir viel spass.
      </p>
    </div>
  </div>
</div>