<div id="post-wrapper">
  <img class="site-img" src="/background-img.jpg" alt="Background IMG" />
  <div id="sits">
    <div class="login-wrapper">
    <h2>Login</h2>

    <form action="/login" method="POST">
      E-Mail 
      <input name="name" type="text" placeholder="example@mail.ch"  /><br />
      Passwort 
      <input name="password" type="password"/><br />
      <input id="login-btn" type="submit" value="Anmelden"/>
    </form>
    <a href="/register" class="button">Registrieren</a>
  </div>
</div>