<div id="landing-wrapper">
  <img class="landing-img" src="landing-page-img.jpg" alt="Background IMG" />
  <div id="start">
    <div>
      <h1>Get<br />Started</h1>

      <input class="sign-up-btn" type="text" placeholder="example@mail.ch" />
    </div>
    <div class="welcome-text">
      <h2>Willkommen auf unserem TravelBlog!</h2>
      <p>Hier kannst du deine Reiseerfahrungen teilen und dich von anderen
        inspirieren lassen. Erstelle ganz einfach einen Blogpost, indem du ein
        Bild von einem Ort hochlädst und einen Google Maps Link hinzufügst. So
        können andere Reisende diesen Ort ebenfalls entdecken und bereisen.
        Teile deine Lieblingsplätze und finde neue Abenteuerziele auf unserem
        globalen Reiseforum!</p>
    </div>
  </div>
</div>