*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}

:root {
  /*--------COLORS-------*/
  --color-white: #fff;
  --color-grey: #aaaaaa;
  --color-black: #1c2222;
  --color-light-blue: #2ab8e5;
  --color-blue: #0e2a85;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-white);
  background-color: var(--color-black);
}

header {
  width: 100%;
  height: 10vh;
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 110px;
}

.nav-links a {
  margin-left: 50px;
}

#logout-btn {
  margin-left: 100px;
}

.logo {
  height: 75px;
}

/* ---Landing Page----------------------------- */

#landing-wrapper {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.landing-img {
  width: 100%;
  max-height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
}

/* ---Home Page----------------------------- */

#start {
  width: 70%;
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
}

.sign-up-btn {
  margin-top: 40px;
  padding: 20px 100px 20px 20px;
  background-color: var(--color-white);
  color: var(--color-black);
  border: none;
  border-radius: 5px;
}

.welcome-text {
  text-align: right;
}

.home-text {
  text-align: center;
  margin-top: 100px;
}
.home-text h2 {
  margin-bottom: 20px;
  text-shadow: 1px 1px 20px var(--color-black);
}
.home-text p {
  text-shadow: 1px 1px 20px var(--color-black);
}

/* ---Post Page----------------------------- */

#sits {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 100px;
  row-gap: 100px;
}

#post-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: visible;
}

.site-img {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}

.post-text {
  text-align: center;
  color: var(--color-black);
}
.post-text h2 {
  margin-bottom: 20px;
  /* text-shadow: 1px 1px 20px var(--color-black); */
}
.home-text p {
  text-shadow: 1px 1px 20px var(--color-black);
}

/* ---Post List--- */

.post-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  height: auto;
  margin-bottom: 200px;
}

#post_id {
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 15px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#post_id img {
  width: 100%;
  margin: 10px 0 20px 0;
}
#post_id a {
  margin-bottom: 20px;
  padding: 10px 40px;
  background-color: var(--color-light-blue);
  color: var(--color-white);
  border-radius: 5px;
}
#post_id a:hover {
  background-color: var(--color-blue);
}
